<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.ArticleMapper">
    <cache />

    <select id="getAllArticles" resultType="Article">
        SELECT id, title, journal, year, volume, number, firstPage, lastPage, month, note key FROM articles
    </select>

    <insert id="insertArticle" parameterType="Article">
        INSERT INTO articles (title, journal, year, volume, number, firstPage, lastPage, month, note key)
        VALUES (#{title}, #{journal}, #{year}, #{volume}, #{number}, #{firstPage}, #{lastPage}, #{month}, #{note}, #{key} )
    </insert>

    <update id="updateArticle" parameterType="Article">
        UPDATE articles SET
            title = #{title},
            journal = #{journal},
            year = #{year},
            volume = #{volume},
            number = #{number},
            firstPage = #{firstPage},
            lastPage = #{lastPage},
            month = #{month},
            note = #{note},
            key = #{key}
        WHERE ID = #{id}
    </update>
</mapper>